
@{
    ViewBag.Title = "Qeydiyyat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Qeydiyyat</h2>
<img src="https://support.content.office.net/en-us/media/4ca8f9f8-f015-4101-ba58-182ef2285a46.png" />